.header__inner {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
}

.header__nav-toggle-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: $header_height;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.note-bin {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}
