$white: #fff;

$header_height: 60px;
$footer_height: 30px;
$main_min_height: calc(100vh - (#{$header_height} + #{$footer_height}));
$nav_width: 200px;

$nav_transition: 0.2s cubic-bezier(0.98, 0.03, 0.2, 0.93);
