.layout-footer {
  height: $footerHeight;
  background-color: #202020;
  color: #a3a3a3;
  display: flex;
  align-items: center;
  div {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
    padding: 0 1rem;

    font-size: 12px;
    font-weight: 600;
  }
}
