.layout-header {
  height: $header_height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.07);
}
