.layout-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -$nav_width;
  z-index: 6;
  width: $nav_width;
  padding-top: $header_height;
  background-color: $white;
  transition: $nav_transition;
}

.layout-nav--is-visible {
  transform: translateX(100%);
}
