body {
  margin: 0;
  background-color: lightgoldenrodyellow;
  color: rebeccapurple;
}

.header {
  height: 50px;
}

.main {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  margin: 0;
}
