body {
  margin: 0;
  background-color: lightgoldenrodyellow;
  color: rebeccapurple;
}

.header {
  height: 50px;
}

.main {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  margin: 0;
}

.list {
  width: 400px;
  padding: 20px;
  background-color: white;
}

.list__title {
  margin: 0;
}

.list__list {
  min-height: 300px;
}
