body {
  margin: 0;
  background-color: lightgoldenrodyellow;
  color: rebeccapurple;
}

.header {
  height: 50px;
}

.main {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  margin: 0;
}

.note-bin {
  height: 150px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: firebrick;
  background-color: seagreen;
}

.note-bin--hovered {
  color: whitesmoke;
  background-color: firebrick;
}

.list {
  width: 400px;
  padding: 20px;
  background-color: white;
}

.list__title {
  margin: 0;
}

.list__todos {
  min-height: 300px;
  list-style-type: none;
  padding: 0;
  border: 3px solid darkorchid;
}

.list__item {
  background-color: plum;
  margin: 5px;
  padding: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  button {
    width: 20px;
    height: 20px;
    padding: 0px 3px 3px 3px;
    border: none;
    position: absolute;
    right: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.list__item__details {
  &:focus {
    border: none !important;
    background: lemonchiffon;
  }
}
