.list {
  width: 100%;
  max-width: 400px;
  background-color: #f6f6f6;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.07);
}

.list__header {
  background-color: #fff;
  padding: 20px 25px;
}

.list__title {
  margin: 0;
  font-size: 1.6rem;
  &:hover {
    cursor: pointer;
  }
}

.list__todos {
  min-height: 300px;
  list-style-type: none;
  margin: 0;
  padding: 10px 15px;
}

.list__item {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  + * {
    margin-top: 10px;
  }
  display: grid;
  grid-template-columns: 1fr 8fr;
  input[type="checkbox"] {
    opacity: 0;
  }
}

.list__label {
  position: absolute;
  left: 0;
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.checkbox-container {
  position: relative;
  padding-top: 4px;
}

.checkbox {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.checkbox--checked {
  opacity: 1;
}

.list__item__details {
  line-height: 1.3;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
}

.list__item__details--edit {
  background-color: azure;
  &:hover {
    cursor: text;
  }
}
